# Importing library & Data

In [34]:
# importing libraries
import pandas as pd
import numpy as mp
import os

In [48]:
# assigning path
path=r'C:\Users\Gal-E\CF Data Analysis\Achievement 4\03-2024 Instacart Basket Analysis'

# import orders_checked.csv dataframe from "Prepared Data" folder
df_ords=pd.read_csv(os.path.join(path,'02 Data','Prepared Data','orders_checked.csv'),index_col=False)

# import orders_products_prior.csv dataframe from "Original Data" folder
df_ords_prior=pd.read_csv(os.path.join(path,'02 Data','Original Data','orders_products_prior.csv'),index_col=False)

In [49]:
# checking the output
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [50]:
df_ords.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,0,2539329,1,1,2,8,NaN
1,1,2398795,1,2,3,7,15.0
2,2,473747,1,3,3,12,21.0
3,3,2254736,1,4,4,7,29.0
4,4,431534,1,5,4,15,28.0

In [51]:
# dropping unnecessary column 'Unnamed:0'
df_ords = df_ords.drop(columns = ['Unnamed: 0'])

In [52]:
df_ords.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

# Check Output of Data

In [53]:
df_ords.shape

(3421083, 6)

In [54]:
df_ords_prior.shape

(32434489, 4)

# Merging dataframes df_ords and df_ords_prior

In [55]:
# merging both df_ords and df_ords_prior into df_merged_large dataframe
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [56]:
df_merged_large.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

In [57]:
# checking frequency of '_merge' column
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

In [58]:
df_merged_large.shape

(32434489, 10)

In [59]:
# Exporting df_merged_large to "orders_products_combined.pkl"
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))